#div1{
    display: flex;
    margin-top: 160px;
    justify-content: center;
    font-family:'Sans';
}
p{  padding: 100px;
    font-size: 50px;
    font-weight: bolder;
    box-shadow: 0 20px 20px gray;
    border-radius: 50%;
    border: 15px solid rgba(228, 18, 28, 0.7);
    background-color: rgba(252, 247, 248, 0.7);
}

.para{
    border-radius: 50%; 
    border-width: 0;
    background-image: linear-gradient(to bottom, orange , white, green);
    color: navy;
    font-size: 30px;
    }