.style-1{background-color: black;
    color:white;}
.style-2,.style-7,.style-9{background-color: orange;
        color:white;}
.style-3,.style-5,.style-8,.style-10{background-color: powderblue;
        color:white;}
.style-4,.style-6,.style-11{background-color: palevioletred;
        color:white;}
.style-12{text-align:center;}